body {
  background-color: rgb(0, 0, 0);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 2px;
}

/*--------------------------menu inicio -----------------------------------*/
.menuinicio {
  background-image: url(../assets/menuwallpaper1.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 40px;

}

.logoinicio {
  background-image: url(/assets/logo2.png);
  background-size: cover;
  width: 150px;
  height: 140px;
  position: absolute;
  top: 35%;
  left: 41%;
  animation: logointro 1.2s ease-in forwards;
}

@keyframes logointro {
  0% {
    opacity: 0;
    transform: translateY(-250px);
  }
  38% {
    opacity: 0;
    transform: translateY(0);
  }
  55% {
    transform: translateY(-45px);
  }
  72% {
    transform: translateY(0);
  }
  81% {
    transform: translateY(-18px);
  }
  90% {
    transform: translateY(0);
  }
  95% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

.cajacomojugar {
  display: none;
  border-radius: 20px;
  z-index: 999;
  background-image: url(../assets/menuwallpaper1.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.cajacomojugar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.566);
  z-index: 1;
}

.botonretroceder {
  z-index: 600;
  filter: opacity(40%);
  text-decoration: none;
  border: 3px solid white;
  border-radius: 50%;
  font-family: Arial, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 23px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: 0.1s ease;
}

.botonretroceder:hover {
  background-color: rgb(255, 0, 0);
  box-shadow: 0px 0px 15px 2px rgb(255, 0, 0);
  color: white;
  transform: scale(1.1);
  filter: opacity(100%);
}

.comojugarpersonaje {
  z-index: 500;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 250px;
  height: 250px;
  background-image: url(/assets/topo1.png);
  background-size: cover;
  animation: intropersonaje 1s;
}

@keyframes intropersonaje {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }
  38% {
    opacity: 1;
    transform: translateX(0);
  }
  55% {
    transform: translateX(68px);
  }
  72% {
    transform: translateX(0);
  }
  81% {
    transform: translateX(32px);
  }
  90% {
    transform: translateX(0);
  }
  95% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
  }
}

.comojugarinstrucciones {
  justify-content: center;
  align-items: center;
  z-index: 400;
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(/assets/INSTRUCCIONES.png);
  background-size: cover;
  animation: logointro 1.2s ease-in forwards;
}

/*--------------------------nivel del juego -----------------------------------*/
.contenedortotal {
  width: 800px;
  height: 460px;
  position: relative;
  overflow: hidden;
  border-radius: 40px;
}

.contenedorgeneral {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: zoomintro 2s;
}

@keyframes zoomintro {
  0% {
    transform: scale(5);
    filter: brightness(0);
  }
  100% {
    transform: scale(1);
  }
}

.CIRCULOINTRO {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 999;
  animation: intro 4s;
}

@keyframes intro {
  0% {
    backdrop-filter: blur(1px);
    width: 0px;
    height: 0px;
    background-color: rgba(240, 248, 255, 0);
    box-shadow: 0px 0px 0px 1000px rgba(0, 0, 0, 1);
  }
  100% {
    width: 1000px;
    height: 1000px;
    background-color: rgba(240, 248, 255, 0);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 1);
  }
}

.tablerocont {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  height: 280px;
}

.caja {
  background-image: url(/assets/plantasuelo.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  cursor: pointer;
  transition: filter 0.3s;
}

.caja:hover {
  filter: brightness(1.5);
  animation: sacudir 0.2s;
}

@keyframes sacudir {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

.verdura {
  position: absolute;
  width: 70px;
  height: 70px;
  transform: translate(267%, 177%) scale(0.6);
  animation: rotacion 1s 0.5s;
}

@keyframes rotacion {
  0% {
    transform: translate(267%, 177%) rotate(5deg) scale(0.6);
    filter: brightness(1);
  }
  80% {
    transform: translate(267%, 100%) rotate(-10deg) scale(1.2);
    filter: brightness(1.5) saturate(2);
  }
  100% {
    transform: translate(267%, 190%) rotate(5deg) scale(0.4);
    filter: brightness(0.3);
  }
}

.humo {
  filter: opacity(0%);
  pointer-events: none;
  width: 100%;
  height: 100%;
  background-image: url(/assets/humo1.png);
  background-size: cover;
  animation: humoanimacion 0.6s;
  transform: translate(0%, -100%);
}

@keyframes humoanimacion {
  0% {
    transform: translate(0%, -100%) rotate(10deg) scale(0);
    filter: opacity(100%);
  }
  50% {
    transform: translate(0%, -100%) scale(1);
    filter: opacity(100%);
  }
  100% {
    transform: translate(0%, -100%) scale(2);
    filter: opacity(0%);
  }
}

.opciones {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  line-height: 120px;
  margin: 30px;
  width: 80px;
  height: 120px;
  font-size: 30px;
  position: absolute;
  right: 0;
}

.contador {
  pointer-events: none;
  display: flex;
  justify-content: center;
  color: rgb(168, 155, 98);
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.83);
  line-height: 120px;
  margin: 30px;
  width: 80px;
  height: 120px;
  font-size: 30px;
  position: absolute;
  background-image: url(/assets/costal1.png);
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes animacionContador {
  0% {
    transform: scale(1) rotate(-5deg);
    color: rgb(168, 155, 98);
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.83);
  }
  50% {
    font-size: 60px;
    transform: scale(1.2) rotate(6deg);
    color: rgb(0, 198, 13);
    text-shadow: 0px 0px 8px rgb(255, 255, 255);
  }
  100% {
    transform: scale(1);
    color: rgb(168, 155, 98);
    text-shadow: 0px 0px 5px rgba(255, 255, 255);
  }
}

.animar-contador {
  animation: animacionContador 0.5s;
}

.perdiste-mensaje {
  color: white;
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: none;
}

@keyframes perdisteimagen {
  0% {
    filter: opacity(100);
    background-color: rgb(0, 0, 0);
  }
  50% {
    filter: opacity(100);
    background-color: rgb(0, 0, 0);
  }
  100% {
    filter: opacity(0);
  }
}

.explosionwallpaper {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: perdisteimagen 2s;
}

.explosion {
  z-index: 9999;
  top: 20%;
  left: 25%;
  filter: opacity(0);
  position: absolute;
  width: 300px;
  height: 180px;
  background-image: url(/assets/explosion\ anim.png);
  background-repeat: no-repeat;
  background-position: -600px 0;
  animation: explotar 0.5s steps(16);
}

@keyframes explotar {
  0% {
    background-color: rgba(255, 196, 0, 0.722);
    background-position: 0px 0;
    filter: opacity(100%);
    transform: scale(3);
  }
  100% {
    background-color: rgb(0, 0, 0);
    background-position: -4800px 0;
    filter: opacity(100%) brightness(0);
    transform: scale(7);
  }
}

.botones {
  top: 58%;
  left: 50%;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  margin: 10px;
  transform: translateY(350px);
  display: block;
  color: rgba(255, 255, 255, 0.387);
  transition: 0.2s ease;
}

.botones:hover {
  transform: translateY(350px) scale(1.3);
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 7px rgb(11, 226, 51);
}



.ganaste-mensaje {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: none;
  animation: zoomintro 3s;
}

.logoGANASTE {
  background-image: url(/assets/GANASTE.png);
  background-size: cover;
  width: 322px;
  height: 80px;
  position: absolute;
  top: 10%;
  left: 30%;
  animation: logointro 1.5s ease-in 1s forwards;
}
